<%= link_to "Home", root_path %>

<% if notice %>

<p><%= notice  %></p>
<% end %>

<p> Username:
  <span>
    <%= @status.user_name %>
  </span>
</p>
<p> Status:
  <span>
    <%= @status.description %>
  </span>
</p>
